# ignore Todo documents
Todo
# ignore hidden files
.*
# ignore temporary files
*~

# ignore deprecated files
_*
# ignore build
build/*
# ignore save of dql
*.dql
# ignore .t7
*.t7

# other files
Todo.md
plot/
results/
tool/
logs/
dprl.lua
